.main{
  display: flex;
  gap: 30px;
}
.main2{
  display: flex;
  gap: 30px;
}
.btn1{
  padding: 20px 30px;
  background-color: green;
  border-radius: 20px;
  font-style: italic;
  font-size: large;
}
.button{
  display: flex;
  gap: 30px;
}
